* {
  color: #282a2e;
}

h1 {
  text-align: center;
  color: #282a2e;
}

header {
  display: flex;
  margin: auto;
  padding: 10px;
  min-width: 500px;
  justify-content: space-around;
  background-color: #c670ff;
}